<nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
  <div class="container-fluid">
    <!-- Logo -->
    <a class="navbar-brand" href="#"><marquee>Loan Management System</marquee> </a>

    <!-- Hamburger menu for small screens -->
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
      aria-controls="navbarNav"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>

    <!-- Links -->
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item">
          <a routerLink="/home" class="nav-link" routerLinkActive="active">
            Home
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/loan" class="nav-link" routerLinkActive="active">
            Add Loan
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="/newcust" class="nav-link" routerLinkActive="active">
            Add Customer
          </a>
        </li>

        <li class="nav-item">
          <a routerLink="/custlist" class="nav-link" routerLinkActive="active">
            Customers List
          </a>
        </li>

     

        <li class="nav-item">
          <a routerLink="/about" class="nav-link" routerLinkActive="active">
            About
          </a>
        </li>
        <li class="nav-item">
          <a routerLink="" class="nav-link" routerLinkActive="active">
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>
