  <body> 
    <app-header></app-header><br><br><br>
    <div class="row">
      <div class="col-lg-4">
        <div class="card">
          <h5 class="card-header"><marquee style="font-family: Arial, Helvetica, sans-serif;">Bank Details</marquee></h5>
          <div class="card-body">
            <img class="card-img" src="https://images.unsplash.com/photo-1582139329536-e7284fece509?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=580&q=80" alt="Bank Image">
          </div>
        </div>
      </div>
    
      <div class="col-lg-8">
        <div class="card animate__animated animate__fadeIn">
          <h5 class="card-header">
            <button class="btn btn-dark">
              <h4>INFO</h4>
            </button>
          </h5>
          <div class="card-body">
            <p class="card-text">A bank is a financial institution that accepts deposits from the public and creates a demand deposit while simultaneously making loans. Lending activities can be directly performed by the bank or indirectly through capital markets.</p>
            <p class="card-text"><b>What is called bank?</b> Banks are intermediaries between depositors (who lend money to the bank) and borrowers (to whom the bank lends money). The amount banks pay for deposits and the income they receive on their loans are both called interest. This application is still in development stage.</p>
            <a href="https://www.onlinesbi.sbi/" class="card-link"><b>For more details, check the bank website profile here.</b></a>
          </div>
        </div>
    
        <div class="card mt-3 animate__animated animate__fadeIn">
          <div class="card-body">
            <h5 class="card-header">
              <button class="btn btn-dark">
                <h4>About Bank</h4>
              </button>
            </h5>
            
            <p><b>STATE BANK OF INDIA</b></p>
            <p class="card-text">IMPORTANT: State Bank of India never ask for your user id / password / pin no. through phone call / SMSes / e-mails. Any such phone call / SMSes / e-mails asking you to reveal credential or One Time Password through SMS could be attempt to withdraw money from your account. NEVER share these details to anyone.</p>
            <p class="card-text"><strong>Contact: sbiforu@gmail.com</strong></p>
          </div>
        </div>
      </div>
    </div>
    
    <style>
      .card {
        background-color: #f5f5f5;
        border: none;
        border-radius: 10px;
        box-shadow: 0px 0px 10px #888888;
        padding: 20px;
        transition: background-color 0.3s ease-in-out;
      }
    
      .card:hover {
        background-color: #e0e0e0;
      }
    
      .animate__animated {
        animation-duration: 1s;
      }
    
      .animate__fadeIn {
        animation-name: fadeIn;
      }
    
      @keyframes fadeIn {
        from {
          opacity: 0;
        }
        to {
          opacity: 1;
        }
      }
    </style>
    
    


