<body>
<app-header></app-header>
<br>
<div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="https://images.pexels.com/photos/68912/pexels-photo-68912.jpeg?auto=compress&cs=tinysrgb&w=600" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Your Dream House</h5>
                        <p>A home loan is a powerful tool that can turn your dream of owning a home into a reality.</p>
                        <p><a href="https://homeloans.sbi/" class="btn btn-warning mt-3">Learn More</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/10326878/pexels-photo-10326878.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Path for Future</h5>
                        <p>Education is the most powerful weapon which can used to change the world.</p>
                        <p><a href="https://sbi.co.in/web/personal-banking/loans/education-loans" class="btn btn-warning mt-3">Learn More</a></p>
      </div>
    </div>
    <div class="carousel-item">
      <img src="https://images.pexels.com/photos/730547/pexels-photo-730547.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2" class="d-block w-100" alt="...">
      <div class="carousel-caption">
        <h5>Make things Happen</h5>
                        <p>Life can be unpredictable, but a personal loan can help you prepare for the unexpected.Life is all about taking risk!</p>
                        <p><a href="https://sbi.co.in/web/personal-banking/loans/personal-loans" class="btn btn-warning mt-3">Learn More</a></p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>
<section class="team section-padding" id="team">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="section-header text-center pb-5">
          <h2>Our Team</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="https://lh3.googleusercontent.com/sOnpkZBEDM1J2Eirbb4MKf6Vm8_MmzRVnTowRrf4q5UlX-5WsG8MMkRwE_CvAqhxP8PLOiknTyrLbl4XtlBEB2vaDPlv-rQ7eTBGFVU" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Ajai A</h3>
            <p class="card-text"> Final year student pursuing Bachelor of Engineering in Computer Science and Engineering at Sri Ramakrishna Institute of Technology in Coimbatore.
               Originally from Salem, As of now currently undergoing training at Hexaware Technologies </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-md-6 col-lg-3">
        <div class="card text-center">
          <div class="card-body">
            <img src="https://lh3.googleusercontent.com/a/AGNmyxZqxAd0Uug7M5UcRjy-XnZ3XYIc2idqFU9sXjKNEQ=s360" alt="" class="img-fluid rounded-circle">
            <h3 class="card-title py-2">Jayaram M</h3>
            <p class="card-text">Final year student pursuing Bachelor of Engineering in Electrical and Electronic Engineering at Sri Krishna College Of Technology in Coimbatore. 
              Originally from Salem, As of now currently undergoing training at Hexaware Technologies</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<style>
  .card:hover {
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }
  </style>
  
  <div class="container mt-5 mb-5">
    <div class="row">
      <div class="col-md-12">
        <div class="card">
          <div class="card-body">
            <div class="section-header text-center pb-5">
              <h2>Contact Us</h2>
              <p>Don't hesitate to reach out - we're here to help.</p>
            </div>
            <div class="contact text-center">
              <a href="https://mail.google.com">
                <img src="https://cdn1.iconfinder.com/data/icons/google-new-logos-1/32/gmail_new_logo-128.png" alt="Gmail">
              </a>
              <a href="https://web.whatsapp.com">
                <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-01-128.png" alt="WhatsApp">
              </a>
              <a href="https://twitter.com/login?lang=enhttps://twitter.com/login?lang=en">
                <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-05-128.png" alt="Twitter">
              </a>
              <a href="https://www.facebook.com/">
                <img src="https://cdn3.iconfinder.com/data/icons/social-network-30/512/social-02-128.png" alt="Facebook">
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
  <style>
    .contact {
      display: flex;
      justify-content: center;
    }
  </style>
  
  <footer class="bg-dark p-2 text-center">
    <div class="container">
        <p class="text-white"><marquee><strong style="font-family: 'Times New Roman', Times, serif; font-size: larger;">All Rights Reserved By @LoanManagementSystem</strong> </marquee> </p>
    </div>
</footer>
</body>